
.body {
    background-color: rgb(41, 41, 41);
    min-width: 100%;

}


.main__title {
    font-size: 64px;
    display: flex;
    max-width: 500px;
    justify-content: center;
    color: white;
    position: relative;
    margin: 50px auto;
}

.main__title::before {
    content: '';
    display: block;
    background-image: linear-gradient(rgb(251, 4, 4),rgb(56, 18, 18));
    border: 3px solid white;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    transform: translateY(-10px);
}
.main__title::after {
    content: '';
    display: block;
    background-image: linear-gradient(rgb(21, 21, 219),rgb(6, 20, 48));
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50px;
    position: absolute;
    right: 0;
    transform: translateY(-10px);
}
