.body {
    background-color: rgb(49, 48, 48);
}
.inner__text {
    color: white;
    font-size: 24px;
}
.element__block {
    max-height: 100%;
    height: 100px;
    max-width: 700px;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    bottom: 100px;
    right: 50px;
}
.element__ball {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: fixed;
    bottom: 150px;
    right: 37%;
}