* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 2px solid rgb(119, 116, 116);
}

.logo {
    width: 50px;
    height: 50px;
    background-color: black;
}

.nav {
    display: flex;
    gap: 30px;
    color: black;
}

.phone {
    font-size: 16px;
}

.phone__link {
    text-decoration: none;
    color: black;
}

.link1, .link2, .link3 {
    color: black;
}