.block {
    font-family:'Open Sans',sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    
}
.block1 {
    font-weight: 600;
}
.block2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.block3 {
    text-shadow: 2px 2px 2px rgb(241, 2, 42);
    font-weight: 600;
    text-decoration: wavy;
    word-spacing: 30px;
}
.block4 {
    letter-spacing: 5px;
    font-weight: 600;
    
}